# Puerto de ejecución del servidor HTTP backend
PORT=4000

# URL de la aplicación cliente frontend
FRONTEND_URL=http://localhost:3000

# Clave secreta para firma de JSON Web Tokens (JWT)
JWT_SECRET=super_secret_jwt_key_gourmet_reserve_2026

# Cadena de conexión a la base de datos (SQLite)
DATABASE_URL="file:./dev.db"

# SMTP Variables (Google OAuth2 for Gmail API)
SMTP_USER=tu-correo@gmail.com
OAUTH_CLIENT_ID=your_client_id
OAUTH_CLIENT_SECRET=your_client_secret
OAUTH_REFRESH_TOKEN=your_refresh_token
